body {
  font-family: "Times New Roman", serif;
  background: url('https://www.harrypottershop.com/content/images/thumbs/0017981_hogwarts-skyline-wallpaper_715.jpeg') no-repeat center center fixed;
  background-size: cover;
  color: #fff;
}

.container {
  text-align: center;
  padding: 50px;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  max-width: 600px;
  margin: auto;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

h1 {
  margin-bottom: 20px;
}

h2 {
  margin-bottom: 20px;
  border-bottom: 2px solid #fff;
  display: inline-block;
  padding-bottom: 10px;
}

.form-container {
  margin: 20px 0;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
}

label {
  display: block;
  margin-bottom: 10px;
}

  input[type="text"],
  input[type="email"],
  input[type="password"] {
  width: calc(100% - 22px);
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  background-color: #5a5a5a;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #4a4a4a;
}
